@import "@fontsource/poppins";

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins",sans-serif;
}

body{

background:
linear-gradient(
180deg,
#050816,
#0B1120,
#111827
);

color:white;

min-height:100vh;
}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#3B82F6;
border-radius:20px;
}

::-webkit-scrollbar-track{
background:#111827;
}
